
 <!-- ======= Clients Section ======= -->
 <section id="clients" class="clients section-bg">
    <div class="container" data-aos="zoom-in">

        <div class="section-title">
            <h2>Sponsors & Partners</h2>
            <h3>Check our <span>Sponsors</span></h3>
            
          </div>
  
      <div class="row">
  
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://www.tut.ac.za/" target="_blank"><img src="../assets/clients/client-1.png" class="img-fluid" alt=""></a>
        </div>
  
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://www.tshwane.gov.za/" target="_blank"><img src="../assets/clients/client-2.png" class="img-fluid" alt=""></a>
        </div>
  
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://aws.amazon.com/" target="_blank"><img src="../assets/clients/client-3.png" class="img-fluid" alt=""></a>
        </div>
  
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://nelekat.co.za/site/" target="_blank"><img src="../assets/clients/client-4.png" class="img-fluid" alt=""></a>
        </div>
  
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://www.nkgwete.co.za/" target="_blank"><img src="../assets/clients/client-5.PNG" class="img-fluid" alt=""></a>
        </div>
  
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://www.wedochange.io/" target="_blank"><img src="../assets/clients/wdc.png" class="img-fluid" alt=""></a>
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://intervent.co.za/" target="_blank"><img src="../assets/clients/client-7.png" class="img-fluid" alt=""></a>
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://www.agilealliance.org/" target="_blank"><img src="../assets/clients/client-8.jpg" class="img-fluid" alt=""></a>
        </div>
  
      </div>
  
    </div>
  </section><!-- End Clients Section -->
  
  