   
<app-navbar></app-navbar>
<app-judgesidenav></app-judgesidenav>
<div id="page-wrapper" >
    <div id="page-inner">
      <div class="row">
        <div class="col-lg-12">
          <h2>SCORE BOARD</h2>   
         </div>
      </div>              
      <hr />

      <div class="row text-center pad-top">
        <div class="input-row">
          <h2 class="text-2">SELECT TEAM</h2>
          <select style="display: inline-block; width: 7.5%;" [(ngModel)]="score.group_name" >
            <option value="#">Choose Team</option>
            <option value="{{d.team}}"  *ngFor= "let d of selectedGroup" >{{d.team}}</option>
           </select>
        </div>
      </div>

      <div class="row text-center pad-top">
        <div class="countdown">
          <app-countdown></app-countdown>
        </div>
      </div>

      
      
      <div class="row text-center pad-top">
        <section class="container " >
          <table class="table table-bordered">
            <!-- Score sheet -->
            <!-- Field judged on start -->
            <thead>
              <tr>
                <th scope="col">Novelity 15%</th>
                <th scope="col">Usefulness 20%</th>
                <th scope="col">Feasibility 15%</th>
                <th scope="col">Technical proficiency 15%</th>
                <th scope="col">Impact 25%</th>
                <th scope="col">Safety 10%</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td><input type="number" name="NovelityScore" [(ngModel)]="noverlity" (change)="getNovScore($event)"  class="txt-input" required> </td>
                <td><input type="number" name="UsefulScore"  [(ngModel)]="usefulness" (change)="getUsefulnesScore($event)"  class="txt-input" required></td>
                <td><input type="number" name="FeasibilityScore" [(ngModel)]="Feasib" (change)="getFeasibilityScore($event)"  class="txt-input"required></td>
                <td><input type="number" name="TechScore" [(ngModel)]="tech" (change)="getTechScore($event)" class="txt-input" required></td>
                <td><input type="number" name="impactScore"  [(ngModel)]="impactScore" (change)="getImactScore($event)" class="txt-input"required></td> 
                <td><input type="number" name="SafetyScore" [(ngModel)]="Safety" (change)="getSafetyScore($event)" class="txt-input"required></td>
              </tr>
            </tbody>
            <!-- Field judged on end -->
      
            <!-- Average -->
            <div class="score-container" >
              <label class="score-txt">Final Score</label>
              <input type="text" id="finalScore" class="scores" name="points" value="{{totalPoints}}" [(ngModel)]="score.points" readonly>
              <label class="total-score">%</label>
            </div>
      
            <!-- Comment -->
            <tbody>
              <td> <label class="label-txt">Reasons(optional)</label> </td>
                <td> <input type="text" name="input6" class="optional-txt"></td>
            </tbody>
          </table>
          <!-- End of score sheet -->
        </section>
        
        <div class="button">
          <button  type="submit" (click)="groupPoints()" > Submit</button>
        </div>
      </div>
    </div>
</div>
 
 
 
 
  
