
<app-navbar></app-navbar>
<!--<app-navbar></app-navbar>
<div class="rectangle-5">
  <h2 class="timeslot">Hacker-Space</h2>
</div>-->


<app-sidenavhacker></app-sidenavhacker>
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
             <h2>Upload Presentation</h2>   
            </div>
        </div>              
         <!-- /. ROW  -->
          <hr />
        <!-- <div class="row">
            <div class="col-lg-12 ">
                <div class="alert alert-info">
                     <strong>Welcome Admin ! </strong> You Have No pending Task For Today.
                </div>
               
            </div>
            </div>
          /. ROW  --> 
      <div class="row text-center pad-top">
        <!-- Button trigger modal -->

        <app-navbar></app-navbar>
<div class="frame">
  <div class="center">
		<div class="bar"></div>
		<div class="title">Drop file to upload</div>
    
    <form (ngSubmit)="onSubmit()">
      <div class="dropzone">
        <div class="content">
          <img src="https://100dayscss.com/codepen/upload.svg" class="upload">
          <span class="filename"></span>
          <!-- <input type="file" class="input"> -->
          <input type="file" class="input" name="file" (change)="onFileSelected($event)" />
        </div>
      </div>
      <button type="submit" class="upload-btn">Upload</button>
      
    </form>
		
  </div>
</div>




      </div>

 
     <!-- /. PAGE INNER  -->
    </div>
 <!-- /. PAGE WRAPPER  -->
 
 
 
  
