


 <div class="row text-center pad-top">

    <div class="table-responsive" style="background-color: rgba(0, 0, 0, 0.253);">
        <table class="table" >
            <thead>
              <tr>
                
                <th scope="col">Name of group</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Date</th>
                <th scope="col">Link</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hacker of table">
                
                <td>{{hacker.group_name}}</td>
                <td>{{hacker.start_time}}</td>
                <td>{{hacker.end_time}}</td>
                <td>{{hacker.date}}</td>
                <td><a href={{hacker.link}} target="_blank">Join</a></td>
                
              </tr>
             
            </tbody>
          </table>

          
     
      </div>


  
</div>
  
