<div class="rectangle-5">
    <div class="navbar">
        <p class="text-1">New Virtual Presentation</p>
      </div>
      <div class="line-2" ></div>
      
</div>
<div>
<hr style="width:100%;
text-align:left;
margin-left:0;
margin-top: -4%;">
<p class="text-2">Assign Time Slots</p>
<div class="input-row">
 
  <select style="display: inline-block; width: 5%; margin-left:175px;">
    <option value="00:00 AM">Hacker</option>
    <option value="01:00 AM">Judges</option>
  </select>

<hr style="width:100%;
text-align:left;
margin-left:0;
margin-top: 0%;"></div>

