
.card-body{
  background-color: #000000;
  margin-top: 10px;
  margin-bottom: 80px;
}
.gradient-custom-2 {
  margin-top: 10px;
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #24c6ee, #ffffff, #ffffff,  #f1e4e4);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ffffff, #cccccc, #ffffff, #ffffff);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
  .form-label  {
      color: white;
  }
  .text-muted{
      color: white;
  }

  .form-check{
      display: inline-block;
      font-weight: bold;
      justify-content: center;
      margin-top: 10px;
       }
       .form-check-label {
          margin: 5px;
          align-items: center;
          color: rgb(255, 255, 255);
        }
        .form-check-input {
          margin: 10px;
          align-items: center;
          
        }