.container {
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure vertical alignment */
  }
  
  .center-table {
    display: flex;
    flex-direction: column; /* Ensure vertical alignment */
    align-items: center;
  }
  
  .judge-info-title {
    text-align: center;
    margin-bottom: 20px; /* Adjust the margin to your preference */
  }
  
  .styled-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd; /* Thin border around the table */
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #ddd; /* Thin border around cells */
    padding: 8px;
    text-align: left;
  }
  
  .styled-table th {
    border-top: 3px solid #333; /* Thicker border at the top for th elements */
    border-bottom: 3px solid #333; /* Thicker border at the bottom for th elements */
    background-color: #f2f2f2; /* Light gray background for th elements */
  }