
.container{
  padding: 20px;
 text-align: center;
 align-items: center;
}
button[type="submit"] {
  
 text-align: center;

  width: 10%;
  padding: 10px;
  background-color: #e6b412;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}



input{
  width: 30%;
  height: 40px;
}
.input2{
  height: 40px;
  padding: 100px;
  width: 50%; 
}
.txt-to{
  font-size: 18px;
  margin-left: 150px;
}
.date-assign{

margin-top: 20px;
}
.link-assign{
margin-top: 5%;
}

.time-asign{
display: inline-block;
justify-content: space-between ;
flex-wrap: wrap;

width: 80%;
margin-top: 50px;
}
.inputName{
margin-top: 20px;
text-align: center;

}

.drp-down{
width: 50%;
height: 30px;
}

#appt{
margin: 0 35px;
}
h2{
text-align: center;
}

.rectangle-5 {
height: 40px;

background-color: #b6b6b6;
}

.timeslot{
margin-top: 20px;
text-align: center;
padding: 7px;
color: white;
}