<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<app-subnavslots></app-subnavslots>
<app-timeslots></app-timeslots>

  <!--------BODY------->
 <form >
  <div class="input">
    
    <label>Admin</label>
   
    <input type="date" id="title" name="title" placeholder=""  (change)="onChangeDate($event)">
  </div>


  <!-- <div class="input">
    <label>Group name</label>
    <input type="text" id="group" name="group" placeholder=""  required [(ngModel)]="slot.group_name" name="slot.group_name">
  </div> -->
  <div class="input">
    <h2>Choose Hacker's Group</h2>
     <select class="drp-down" [(ngModel)]="slot.group_name" >
        <option value="{{d.group_name}}"  *ngFor= "let d of selectedName" >{{d.group_name}}</option>
      </select>
   </div>
  <div class="text-1">Date of Event </div>
  <div class="text-2">Time Range</div>
  <!-- <div class="text-3">Hacker's Group</div> -->
  <div class="text-5">to</div>
  <button class="button" (click)="addSlot()" >Add</button>

  <div class="form-group">
    <form action="/action_page.php">
      <input type="time" id="appt" name="appt" required [(ngModel)]="slot.start_time" name="slot.start_time" >
    </form> 
    <form action="/action_page.php">
      <input type="time" id="appt" name="appt" required [(ngModel)]="slot.end_time" name="slot.end_time" >
    </form>
</div>
</form>

