
  <div class="line-4">
    
  </div>
  <p class="text-1">Who can present?</p>
  <div class="rectangle-4-0">
    <p class="text-2">only registered attendees</p>
  </div> 
  <div><p class="text-3">Allow mic for attendees?</p>
  <p class="text-3">Allow camera for attendees?</p>
  <p class="text-3">Record automatically</p>
</div>
  
  
  
  <div class="toggle-switches">
    <label class="toggle-switch">
      <input type="checkbox" class="toggle-switch-input">
      <span class="toggle-switch-slider"></span>
    </label>
    <label class="toggle-switch">
      <input type="checkbox" class="toggle-switch-input">
      <span class="toggle-switch-slider"></span>
    </label>
    <label class="toggle-switch">
      <input type="checkbox" class="toggle-switch-input">
      <span class="toggle-switch-slider"></span>
    </label>
  </div>
  
  