<div class="line-4">

</div>
<p class="text-1">Who can rate?</p>
<div class="rectangle-4-0">
  <p class="text-2">only registered attendees</p>
</div>
<div>
  <p class="text-3">Allow mic for Judges?</p>
  <p class="text-3">Allow camera for Judges?</p>
</div>



<div class="toggle-switches">
  <label class="toggle-switch">
    <input type="checkbox" class="toggle-switch-input">
    <span class="toggle-switch-slider"></span>
  </label>
  <label class="toggle-switch">
    <input type="checkbox" class="toggle-switch-input">
    <span class="toggle-switch-slider"></span>
  </label>
  <label class="toggle-switch">
    <input type="checkbox" class="toggle-switch-input">
    <span class="toggle-switch-slider"></span>
  </label>
</div>