<!------<div class="side-nav">
    <a href="#">What's on?</a>
    <a href="#">Report</a>
    <a href="#">Virtual presentaton</a>
 </div>
 <i class="bi bi-heart-fill"></i>---------->
 <div class="side-nav">
    <a href="#">
       <i class="bi bi-bell"></i>
       <span>What's on?</span>
    </a>
    <a href="#">
      <i class="bi bi-person-fill"></i>
      <span>Files</span>
   </a>
   <a href="#">
      <i class="bi bi-person-fill"></i>
      <span>TimeSlot</span>
   </a>
    <a href="#">
       <i class="fa regular fa gear"></i>
       <span>Report</span>
    </a>
    <a href="#">
       <i class="bi bi-person-fill"></i>
       <span>Virtual Presentation</span>
    </a>
   
 </div>