



<!--Main Navigation-->
<header>
   <!-- Sidebar -->
   <nav
        id="sidebarMenu"
        class="collapse d-lg-block sidebar collapse bg-white"
        >
     <div class="position-sticky">
       <div class="list-group list-group-flush mx-3 mt-4">
         <a
           routerLink="/admindash" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
            >
            <i class="fa-solid fa-gauge me-3"></i><span>Main dashboard</span>
         </a>
         <a
           routerLink="/files" routerLinkActive="active"
            class="list-group-item list-group-item-action py-2 ripple "
            >
            <i class="fa-solid fa-user-plus me-3"></i><span>Register</span>
         </a>
         <a
           routerLink="/slots"  routerLinkActive="active"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa-solid fa-clock-rotate-left me-3"></i><span>Slots</span></a
           >
         <a
           routerLink="/report"  routerLinkActive="active"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa-solid fa-square-poll-vertical me-3"></i><span>Results</span></a
           >
         <a
           routerLink="/sponsorreport"  routerLinkActive="active"
            class="list-group-item list-group-item-action py-2 ripple"
            >
            <i class="fa-regular fa-flag me-3"></i><span>Report</span>
         </a>
         <a
           routerLink="/"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa-solid fa-arrow-right-from-bracket me-3"></i><span>Logout</span></a
           >
     
       </div>
     </div>
   </nav>
   <!-- Sidebar -->
 
  